<div class="max-w-4xl mx-auto p-6">
  <%= render DevExperience::TemplateHeader::Component.new(template: @template) %>
  <%= render DevExperience::UseCaseList::Component.new(use_cases: @use_cases) %>
</div>
